@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;;
}

body {
    background-color: black;
}

.nav{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: 8px 10px;
}

.nav .left{
    text-align: left;
    padding: 0px 130px 0px 21px;
}

.nav .center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.nav.right{
    text-align: right;
}

.center .search {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    gap: 18px;
    border-radius: 30px;
    padding: 12px 12px
}

.search input {
    width: 24vw;
    background-color: transparent;
    outline: 0;
    border: none;
    color: #b3b3a5;
    font-size: 16px;
    font-weight: 400;
}

.center .home {
    padding: 10px 12px;
    background-color: #1f1f1f;
    border-radius: 50%;
} 
.search input::placeholder{
    color: #b3b3a5;
}
.right .btn2{
    font-size: 16px;
    font-weight: 700;
    padding: 0px 31px;
    background-color: white;
    border-radius: 30px;
    height: 48px;
    cursor: pointer;
}
.right .btn1{
    font-size: 16px;
    background-color: transparent;
    color: #b3b3b3;
    border: none;
    padding: 14px 21px;
    cursor: pointer;
}


.container .left{
    width: 28vw;
    margin: 5px;
}
.container .right{
    width: 72vw;
    margin: 5px;
    color: white;
}
.heading{
    color: #b3b3b3;
    font-size: 10px;
}

